#specsrow{
  display: none;
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  padding: 20px;
  margin-left: 1px;
  margin-bottom: 20px;
}
.color-spec-div{
  display: block;
  margin-left:1%;
  margin-right: 1%;
  border: 1px solid;
  width: 100%;
  padding: 5px;
  border: 1px solid #918484;
  border-radius: 2px;
}
.color-specs-wrapper,.size-specs-wrapper{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 5px;
  row-gap: 2px;
  width: 100%;
  height: auto;
  border: 0px solid #f1f1f1;
  border-radius: 2px;
  padding: 4px;

}
.color-specs,.size-specs{
  width: 90%;
  height: 30px;
}
.size-spec-div{
  display: block;
  margin-left:1%;
  margin-right: 1%;
  border: 1px solid;
  width: 100%;
  padding: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}
.color-spec-item{
  font-size: 20px;
  text-align: center;
  width: 18%;
  height:36px;
}
.size-spec-item{
  font-size: 20px;
  text-align: center;
  width: 18%;
  height:36px;
}
.add-button-wrapper{
  margin-right: 5px;
}
#addcolorinput{
    height:100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:2%;
    text-align: center;
    
  }
  #addsizeinput{
    height:100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:2%;
    text-align: center;
    
  }