.newProduct{
   flex: 4;
   padding:40px 20px;
   border: 0px solid;
}
.addProductTitleContainer{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 5px;

}

.addproductStoreTitle{
    border: none;
    background-color:rgb(228, 228, 250);
    padding: 5px 10px;
    height: 34px;
    border-radius: 5px;
    font-weight: 600;
}
.productFormTop{
    display: flex;
    align-items:center;
    justify-content: space-between;       
    margin-bottom: 60px;
    border: 0px solid;
}
.productFormTopItem{
    border: 0px solid;
    width: 26vw;
}
.addProductFormContainer{
    border: 0px solid;
    padding: 10px;
}
.addProductForm{
    margin-top: 10px;
}

.addProductItem{
    display: flex;
    flex-direction: column;
    border: 0px solid;
}
.addProductItem>input{
    padding: 5px;
    border: 0px;
    width: 100%;
    border-bottom:1px solid rgb(151, 150, 150);
}
.addProductItem>select{
    padding: 5px;
    border: 0px;
    width:100%;
    border-bottom:1px solid rgb(151, 150, 150);
}
.addProductItem>textarea{
    margin:8px  0px 6px 0px;
    border: 0px;
    width:100%;
    border-bottom:1px solid rgb(151, 150, 150);
}
.addProductItem>label{
  margin-bottom: 5px;
}
.addProductButton{
    margin: 20px 0px;
    padding: 7px 10px;
    width:20%;
    border: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
.ProductListButton{
    border: none;
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
