.newstore{
    flex: 4;
   padding: 20px;
}

.newStoreFormContainer{
 display: flex;
 justify-content: space-between;
 padding: 20px 40px;
 border-radius: 10px;
box-shadow:0px 0px 15px -10px rgb(0,0,0.75);
    -webkit-box-shadow:0px 0px 15px -10px rgb(0,0,0.75);
}
.addnewStoreTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}
.addNewStoreTitle{
    font-weight: 600;
    margin-bottom: 20px;
}
.newStoreFormLeft{
    padding:40px 40px;
    
}
.newStoreFormRight{
    padding:40px 40px;   
}
.newStoreFormItem{
    width:100%;
    display: flex;
    flex-direction: column;
    font-weight:600px;
    color: rgb(151, 150, 150);
    border:0px;
}

.newStoreFormItem>label{
    margin: 0px 05px 10px;
    font-size: 14;
}
.newStoreFormItem>input{
    height: 30px;
    width: 100%;
    border: 0px;
    border-bottom:1px solid rgb(151, 150, 150);
}
.newStoreFormItem>textarea{
    padding: 20px 10px;
    border:1px solid rgb(151, 150, 150);

}
.newStoreFormItem>select{
    padding: 5px;
    border:1px solid rgb(151, 150, 150);

}

.newStoreFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.storeListButton{
    border: none;
    padding:5px 10px ;
    background-color: teal;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.newStoreUpload{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}
.newStoreUploadIcon{
    cursor: pointer;
}
.newStoreUploadButton{
    border-radius: 5px;
    border: none;
    padding:5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    width: 50%;
}
.newStoreUploadImg{
    width: 120px;
    height: 120px;
    margin-right: 10px;
    border: 1px solid rgb(151, 150, 150);
}