.topbar{
    width: 100%;
    height: 50px;
    background-color: darkcyan;
    top: 0;
    position: sticky;
    z-index: 999;

}
.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-style: 30px;
    color: darkblue;
    cursor: pointer;
}
.topLeft{
    border:0px solid;
}
.topRight{
    display: flex;
    align-items: center;
}
.topbarIonContainer{
    position: relative;
    cursor:pointer;
    color: #fff;
    margin-left: 25px;
}
.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute; 
    top:-5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.topAvatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: #fff;
}
.searchfield{
    border: 0px solid seashell;
    width: 350px;
}
.bottomnav{
    display: none;
}

@media only screen and (max-device-width:620px) {
    .topRight{
      display:none;
    }
    .searchfield{
        display: block;
        width:65%;
    }
    .bottomnav{
        display: block;
    }
}