:root {
    --dashboard-primary:cornflowerblue;
    --dashboard-secondary:goldenrod;
}

.content{
    display: flex;
    width: 100%;
    margin-top: 10px;    
}
.sidebar{
    display: block;
    flex: 1;
}
.link{
    text-decoration: none;
    color: inherit;
}

.toggleSidebarButton{
    height:40px;
    width:5px;
    position:sticky;
    background-color:rgb(138, 138, 138);
    margin-top: 300px;

}