.awesomeSlider{
   height: 100px !important;
}
.awssld__content{
    border-radius: 10px !important;
padding: 5px !important;
box-shadow:0px 0px 15px -10px rgb(0,0,0) !important;
-webkit-box-shadow:0px 0px 15px -10px rgb(0,0,0)!important;
}
.autoSlider{
    height: 400px;
}
.awssld__content{
  background-color: #fff;
}
.awssld__content img{
    height:400px
}

.awssld__timer{
    opacity:0;
}
.awssld__timer--animated{
    opacity: 0;
}
.awssld__timer--run{
    opacity: 0;
}
@media screen and (max-width: 620px) {
    .autoSlider{
        height: 100px !important;
    }
    .awssld__content img{
        height:100px !important
    }
  }