.awesomeSlider{
   height: 100px !important;
}

.autoSlider{
    height: 400px;
}
.awssld__content{
  background-color: #fff;
}
.awssld__content img{
    height:400px
}

.awssld__timer{
    opacity:0;
}
.awssld__timer--animated{
    opacity: 0;
}
.awssld__timer--run{
    opacity: 0;
}
@media screen and (max-width: 620px) {
    .autoSlider{
        height: 100px !important;
    }
    .awssld__content img{
        height:100px !important
    }
  }