
.sales{
    flex: 4;
    padding: 20px;
}
.pageTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    
    }  
    .pageTitle{
        border: none;
        padding: 5px 10px;
        height: 34px;
        border-radius: 5px;
        font-weight: 600;
    }
    .pageTitleButton{
        border: none;
        padding: 5px 10px;
        background-color: teal;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
    }
    .select-store{
        padding: 5px 7px;
        margin-right: 10px;
        border-color: teal;
        border-radius: 5px;
    }
.transStatusSpan{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
.transStatusSpan.Approved{
    background-color: #e5faf2;
    color:#3bb077 ;
  }
  .transStatusSpan.Declined{
    background-color: #fff0f1;
    color:#d95087 ;
  }
  .transStatusSpan.Pending{
    background-color: #ebf1fe;
    color:#2a7ade ;
  }

  .actionButtonsContainer{
      padding: 5px 7px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20%;
  }
  .actionButtons{
    border: 0px;
    background-color: #ebf1fe;
    color:#2a7ade ;
  }