.Completed{
  background-color: #e5faf2;
  color:#34af4d ;
  padding: 3px 4px;
  text-align: center;

}
.Approved{
    background-color: #e5faf2;
    color:#3bb077 ;
    padding: 5px 4px;
    text-align: center;

  }
  .Processing{
    background-color: #fff0f1;
    color:#d6c32fc0 ;
    padding: 5px 4px;
    text-align: center;

  }
  .Declined{
    background-color: #fff0f1;
    color:#f50057 ;
    padding: 5px 4px;
    text-align: center;

  }
.Pending{
    background-color: #ebf1fe;
    color:#2a7ade ;
    padding: 5px 4px;
    text-align: center;

  }
  .orderNumber{
    padding: 5px 4px;

  }
