.sociallink{
    width: 100%;

}
.social-media-link{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-media-link-item{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

}
.social-media-link-item>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}
.social-media-link-item>input{
    border: 1px solid gray;
    width: 60%;
    height: 50px;
   /*  border-bottom: 1px solid gray; */
    padding: 3px;
    font-size: 14px;
}