:root{
	--primary-blue:#54a6f0;
	--primary-text:#fff;
    --border-color:#eee;

}

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
    bottom: -1px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid var(--primary-blue);
  }
  
  .rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
    right: -1px;
    top: 0; 
    height: 100%;
    border-right: 2px solid var(--primary-blue);
  }
  .rwt__tab[aria-selected="true"] {
    position: relative;
    color: var(--primary-blue);
    background-color: rgb(228, 228, 250);
    
  }
  .tabsPanelContainer{
      border: 1px solid var(--border-color);
      padding: 10px 3px;
   /*  box-shadow:0px 0px 15px -10px rgb(0,0,0.75); ;
    -webkit-box-shadow:0px 0px 15px -10px rgb(0,0,0.75); */
  }
  .tablist{
    border:1px solid var(--border-color);
    height: 40px;
    padding: 1px 0px;
  }

  .tab{
      padding:10px 10px;
      margin-left: 1%;
      border: 0px;
      width: 10%;
      font-size: 14px;
  }
.tab__panel{
padding: 10px 10px;
}
